**/*~
**/*.ucdb
**/*.wlf
**/*.vcd
**/*.log
**/*.vstf
**/*.bin
**/*.vscode
**/transcript
**/work
**/certe_dump.xml
**/log.txt
**/sv_debug.txt
**/vish_stacktrace.vstf
*.o
*.map
*.elf
*.lst
*.sec
*.cnt
software/*.txt
*.bin
**/coverage/
history.csv
riscv/sim/uvm_verif/scripts/randomtest/apps*
