**/*~
**/*.ucdb
**/*.wlf
**/*.vcd
**/*.log
**/*.vstf
**/*.bin
**/transcript
**/work
**/certe_dump.xml
**/log.txt
**/sv_debug.txt
**/vish_stacktrace.vstf
*.o
*.map
*.elf
*.lst
*.sec
*.cnt
software/*.txt
*.bin
**/coverage/
history.csv
riscv/sim/sv_verif/randomtest/apps/app/build.sh
riscv/sim/sv_verif/randomtest/apps/app/run.sh
riscv/sim/sv_verif/randomtest/apps/*/*.S
tools/riscv-toolchain/**