*~
hf-riscv/sim/work/
hf-riscv/verif/work/
hf-riscv/verif/log.txt
hf-riscv/verif/sv_debug.txt
hf-riscv/verif/vish_stacktrace.vstf
hf-riscv/verif/transcript
hf-riscv/verif/vsim.wlf
hf-riscv/verif/*~
*.o
*.map
*.elf
*.lst
*.sec
*.cnt
software/*.txt
*.bin
vsim.wlf
transcript
coverage.ucdb
sv_debug.txt
hf-riscv/verif/coverage/
history.csv
